<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Home Page Optometrist</title>
      <link href="{{url_for('static',filename ='style.css')}}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    </head>
    <body>
      <div class = "card">
        <form method="GET"  action="{{url_for('view_page')}}">
          <div class="form-group">
            <h1>Home Page Optometrist</h1>
            <p>
            <i>Please input the valid homepage url, except social media website, and choose how do you want the profile photo look like.</i></p>
            <label for="exampleFormControlInput1">Homepage Url</label>
            <input class="form-control form-control-lg" name='url' type="text" placeholder="https://...">
          </div>
          <div>
              <input type="radio" name="style" value="square" class="option" checked>Square glasses
              <input type="radio" name="style" value="circle" class="option">Circle glasses
          </div>
          <div>
              <input type="radio" name="color" value="red" class="option" checked>red
              <input type="radio" name="color" value="blue" class="option">blue
              <input type="radio" name="color" value="green" class="option">green
          </div>
          <div>
              <input type="checkbox" name="beard" value="mustache" class="option">Mustache<br>
          </div>
          <div class="form-group">
            <button type="submit" value="Submit" class="btn btn-outline-success">Submit</button>
          </div>
        </form>
      </div>
    </body>
</html>


