h1{
    margin:0 auto;
}


form{
    margin:0 auto;
    width:300px;
}

html{
    height:100%;
}

body{
    height:100%;
    background-image: linear-gradient(to bottom right, lightyellow,lightgreen);
}

.card{
    width:22rem;
    margin:auto;
    position: absolute;
    top: 20%;

    background-image: linear-gradient(to bottom right, lightgreen, lightblue);
}